body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  height: 550px;
  width: 400px;
  background-color: #333;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

input {
  width: 100%;
  height: 70px;
  font-size: 40px;
  color: white;
  background-color: #222;
  border: none;
  font-weight: bold;
  padding: 0 10px;
  box-sizing: border-box;
}

#key-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

button {
  width: 65px;
  height: 65px;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 80%);
}

button:active {
  background-color: hsl(0, 0%, 70%);
  transform: scale(0.95);
}

.yellow-btn {
  background-color: hsl(35, 100%, 50%);
}

.yellow-btn:hover {
  background-color: hsl(35, 100%, 60%);
}

.yellow-btn:active {
  background-color: hsl(35, 100%, 70%);
}

#equals {
  background-color: hsl(135, 59%, 49%);
}

#equals:hover {
  background-color: hsl(135, 59%, 59%);
}

#equals:active {
  background-color: hsl(135, 59%, 69%);
}

.clear {
  background-color: hsl(3, 100%, 59%);
}

.clear:hover {
  background-color: hsl(3, 100%, 69%);
}

.clear:active {
  background-color: hsl(3, 100%, 79%);
}

.select{
  transform: scale(1.1);
  background-color: hsl(35, 100%, 70%);
}